In [1]:
!pip install pandas
# Veri çekme işlemleri için kullanılır.

Requirement already satisfied: pandas in d:\programdata\anaconda3\envs\fer\lib\site-packages (1.4.2)

WARNING: Ignoring invalid distribution -ip (d:\programdata\anaconda3\envs\fer\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\programdata\anaconda3\envs\fer\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\programdata\anaconda3\envs\fer\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\programdata\anaconda3\envs\fer\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\programdata\anaconda3\envs\fer\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\programdata\anaconda3\envs\fer\lib\site-packages)

Requirement already satisfied: pytz>=2020.1 in d:\programdata\anaconda3\envs\fer\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\programdata\anaconda3\envs\fer\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in d:\programdata\anaconda3\envs\fer\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in d:\programdata\anaconda3\envs\fer\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("attachments/sample_df.xlsx",sheet_name="DataScience",engine="openpyxl")

In [4]:
df

        Tarih Tip  deger
0  2021-12-01   a      6
1  2021-12-01   b      3
2  2021-12-01   c      1
3  2021-12-01   d      7
4  2021-12-02   a      2
5  2021-12-02   b      9
6  2021-12-03   c      4
7  2021-12-03   d      5
8  2021-12-04   a      8
9  2021-12-04   b      2
10 2021-12-04   c      3

###  Pivot

In [5]:
df2= df.pivot(index="Tarih",
              columns="Tip" ,
              values="deger")

In [6]:
df2

Tip           a    b    c    d
Tarih
2021-12-01  6.0  3.0  1.0  7.0
2021-12-02  2.0  9.0  NaN  NaN
2021-12-03  NaN  NaN  4.0  5.0
2021-12-04  8.0  2.0  3.0  NaN